{% extends "layout.html" %}
{% block body %}

<h1>Add A New Song</h1>
<form method="POST" action="/songs/{{ song.id }}/edit"  >
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ song.title|safe }}">
    <label for="length">Length:</label>
    <input type="number" id="length" name="length" value="{{ song.length }}">
    <label for="released_on">Date(mm/dd/yyyy):</label>
    <input type="text" id="released_on" name="released_on" value="{{ song.released_on.month }}/{{ song.released_on.day }}/{{ song.released_on.year }}">
    <label for="lyrics">Lyrics</label>
    <textarea name="lyrics" id="lyrics" cols="30" rows="10">{{ song.lyrics|safe }}</textarea>
    <br>
    <input type="submit" value="Update Song">
</form>

{% endblock %}