<!doctype html>
<html lang="en">
<head>
    <title>{{ set_title() }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='application.js') }}"></script>
</head>
<body>
    <header>
        <h1>{{ set_title() }}</h1>
        <nav>
            <ul>
                <li><a href="/" title="Home" class="{{ is_current() }}">Home</a></li>
                <li><a href="/about" title="About" class="{{ is_current('/about') }}">About</a></li>
                <li><a href="/contact" title="Contact" class="{{ is_current('/contact') }}">Contact</a></li>
                <li><a href="/songs" title="Songs" class="{{ is_current('/songs') }}">Songs</a></li>
            </ul>
        </nav>
    </header>
    <section>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    </section>
</body>
</html>


