{% extends "layout.html" %}
{% block body %}

<h1>{{ song.title|safe }}</h1>
{% if song.released_on %}
<p>Release Date: {{ song.released_on.strftime("%A %d. %B %Y") }}</p>
{% endif %}
<p>Length: {{ song.length/60 }} minutes {{ song.length%60 }} seconds</p>
<pre>{{ song.lyrics }}</pre>

<div id="like">
    {% include "like.html" %}
    <form action="/songs/{{ song.id }}/like" method="POST">
        <input type="submit" value="like">
    </form>
</div>

<p><a href="/songs">back to songs index</a></p>
{% if session.logged_in %}
<p><a href="/songs/{{ song.id }}/edit">edit this song</a></p>
<form action="/songs/{{ song.id }}/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete this song">
</form>
{% endif %}

{% endblock %}